* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica", "Arial", sans-serif;
    user-select: none;
}

li {
    list-style: none;
}

body {
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.splash {
    background-color: aliceblue;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    padding: 20px;
    margin-bottom: 30px;
}

.logo {
    font-size: 25px;
}

.liitems {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.liitems li {
    cursor: pointer;
    transition: all 0.3s ease;
}

.liitems li:hover {
    text-decoration: underline;
}

.banner_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 35px;
    font-weight: 800;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.57);
    z-index: 1;
}

.banner_container_text {
    z-index: 3;
}

.tutorial_content_main {
    width: 90%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tutorial_question {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.question_no {
    margin-right: 10px;
}

.ans {
    font-weight: 600;
    margin-right: 10px;
}

.outerContainerQuiz {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz_container {
    background-color: aliceblue;
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    z-index: 1000;
    position: relative;
    min-width: 250px;
    width: 90%;
    max-width: 500px;
}

.closeQuiz {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    font-size: 30px;
    z-index: 2000;
}

.quiz_question {
    margin: 10px 0px;
}

.quizTextArea {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 5px;
    border: none;
}

.quizSubmitButton {
    padding: 5px 8px;
    border: none;
    background-color: blue;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.commentsContainer {
    min-width: 250px;
    width: 90%;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.singleComment {
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
}

.commentTop {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.postingUser {
    font-style: italic;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    .nav {
        flex-direction: column;
        gap: 10px;
    }
}